@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .r-text-xs {
    @apply text-xs lg:text-sm;
  }

  .r-text-sm {
    @apply text-sm lg:text-base;
  }

  .r-text-base {
    @apply text-base lg:text-lg;
  }

  .r-text-lg {
    @apply text-lg lg:text-xl;
  }

  .r-text-xl {
    @apply text-xl lg:text-2xl;
  }

  .r-text-2xl {
    @apply text-2xl lg:text-3xl;
  }

  .r-text-3xl {
    @apply text-3xl lg:text-4xl;
  }

  .r-text-4xl {
    @apply text-4xl lg:text-5xl;
  }

  .r-text-5xl {
    @apply text-5xl lg:text-6xl;
  }

  .r-text-6xl {
    @apply text-6xl lg:text-7xl;
  }
}

/*Regular*/
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/Pretendard-Regular.woff2) format("woff2");
}

/*Medium*/
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/Pretendard-Medium.woff2) format("woff2");
}

/*Semibold*/
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/Pretendard-SemiBold.woff2) format("woff2");
}

/*Bold*/
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/Pretendard-Bold.woff2) format("woff2");
}
